dataset/
PublicMM1/
pretrained_models/
*.tar
*/*.tar
*/*/*.tar
*/*/*/*.tar
*/*/*/*/*.tar
*/*/*/*/*/*.tar
*/*/*/*/*/*/*.tar
*/*/*/*/*/*/*/*.tar
*/*/*/*/*/*/*/*/*.tar
*/*/*/*/*/*/*/*/*/*.tar
*/*/*/*/*/*/*/*/*/*/*.tar 
*/*/__pycache__
*/__pycache__
*.tgz
*/*.tgz
*/*/*.tgz
*/*/*/*.tgz
*/*/*/*/*.tgz
*/*/*/*/*/*.tgz
*/*/*/*/*/*/*.tgz
*/*/*/*/*/*/*/*.tgz
*/*/*/*/*/*/*/*/*.tgz
*/*/*/*/*/*/*/*/*/*.tgz
*/*/*/*/*/*/*/*/*/*/*.tgz
*/*